

<h1>Tabla de monstruos</h1>
    <table class="table">
    

    <h1>Lista de tweets</h1>
    <tr>
        <th>Nombre</th>    
        <th>Descripcion</th>   
     </tr>

<% @monsters.each do |monster| %>
    <tr>
        <td><%= link_to monster.name, monster %>   </td> 
        <td> 
        <% if monster.tweets.count > 1 %>
            <div class="twittero"> Twittero Destacado </div>
        <% end %>
       <%= monster.description %> 
       </td>
    </tr>
<% end %>

</table>